<!DOCTYPE html>
<html>
    <head>
        <title>Only Pets: Social Media for your pets</title>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="content">
            {% for message in get_flashed_messages() %}
                <p>{{ message }}</p>
            {% endfor %}
            <nav>
                <a href="/">Home</a>
                <div>
                    <a href="/signup">Sign Up</a>
                    <a href="/login">Login</a>
                    <a href="/account">My Account</a>
                    <a href="/new_post">New Post</a>
                </div>
            </nav>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>